VITE_SUPABASE_URL="https://pqpyekbidlzfhsgntusq.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBxcHlla2JpZGx6ZmhzZ250dXNxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA5NjgyMDMsImV4cCI6MjA4NjU0NDIwM30.Tkk3WYe8avcPyCl0x96TzsU3Sx7_Beq3WH5uGBDZq3U"

